/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.amo-button-holder.amo-horisontal {
    right: 1em!important;
    bottom: 1em!important;
}